<div class="taskList">
  <app-task-list *ngFor="let taskList of taskLists"
    class="list-container"
    appDroppable
    [dragenterClass] = "'drop-enter'"
    >
    <app-task-header [header]="taskList.name"
    (newTask)="onNewTasksDialog();"
    (moveTaskAll)="launchMoveTaskDialog();"
    (editTable)="launchUpdataTaskListDialog()"
    (delTaskAll)="launchDelTaskListDialog();"
    >

    </app-task-header>
    <app-task-item
      [item]="task"
      *ngFor="let task of taskList.tasks"
      (itemsClick) = "launchUpdateTaskDialog(task);"
      >

    </app-task-item>
  </app-task-list>
</div>
<button mat-fab type="button" class="fab_button" (click)="openNerTaskListDialog();">
  <mat-icon>
    add
  </mat-icon>
</button>
